<!-- No navbar for the bots -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>bot jail</title>

    <link rel="stylesheet" href="{{ url_for('main.static', filename='main/css/bot_jail.css', _external=True) }}" />
  </head>

  <body>
    <div class="container" style="text-align: center">
      <h1>There is an imposter among us.</h1>
      <img id="amogus" class="center-block" src="{{ url_for('main.static', filename='main/images/amogus.webp', _external=True) }}" alt="amogus" />
    </div>
  </body>
</html>
