#background-img {
    background-image: url("/static/blog/blogpage/6/images/background_0.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogpage-name {
    color: black;
}
.blogpage-subname {
    color: gray;
}
