#background-img {
    background-image: url("/static/blog/blogpage/6/images/background_0.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#non-navbar {
    font-family: "Comic Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.blogpage-name {
    color: black;
}
.blogpage-subname {
    color: gray;
}
