# security ignores
deployment/docker/flask/envs/*
!deployment/docker/flask/envs/.flaskenv
deployment/docker/mysql/envs/
deployment/docker/mysql/mysql_data_dir/
deployment/backup_scripts/db_backup_config.sh
deployment/backup_scripts/backup*.sql

# package manager ignores
venv/
app/static/node_modules/

# Python ignores
__pycache__/
*.egg-info
