# security ignores
docker/flask/envs/
!docker/flask/envs/.flaskenv
docker/mysql/envs/
docker/mysql/mysql-data-dir/
backup-scripts/db_backup_config.sh
backup-scripts/backup*.sql

# package manager ignores
venv/
app/static/node_modules/

# Python ignores
__pycache__/
