# security
.env
deployment/docker/flask/.env
deployment/docker/mysql/mysql-data-dir/
deployment/backup-scripts/db_backup_config.sh
deployment/backup-scripts/backup*.sql

# package managers
venv/
app/static/node_modules/
app/static/css/custom_bootstrap.*

# python
__pycache__/

# vim
*.swp
