[Unit]
Description=Periodic first backup of Flask-Website's database

[Service]
Type=oneshot
Group=docker
WorkingDirectory=[REPLACE: PATH TO `backup-scripts/` FOLDER]
ExecStart=/bin/bash db_backup.sh [REPLACE: BACKUP DESTINATION PATH]
