[Unit]
Description=Timer for `personal-website-db-backup-1`
After=network.target

[Timer]
OnUnitActiveSec=4h
OnBootSec=4h
Persistent=true

[Install]
WantedBy=timers.target
