[Unit]
Description=Timer for `personal-website-image-backup`
After=network.target

[Timer]
OnUnitActiveSec=1d
OnBootSec=1d
Persistent=true

[Install]
WantedBy=timers.target
