[Unit]
Description=Periodic second backup of personal-website's database

[Service]
Type=oneshot
User=[REPLACE: default, preferably non-root user like the current SSH user]
WorkingDirectory=[REPLACE: path to `backup-scripts` folder]
ExecStart=/bin/bash db_backup.sh [REPLACE: backup destination path]
