[Unit]
Description=Periodic second backup of Flask-Website's database

[Service]
Type=oneshot
Group=docker
WorkingDirectory=[REPLACE: PATH TO `backup_scripts` FOLDER]
ExecStart=/bin/bash db_backup.sh 2
