[Unit]
Description=Periodic backup of Flask-Website's static images

[Service]
Type=oneshot
User=[REPLACE: LINUX USER THAT CAN GIT PUSH]
WorkingDirectory=[REPLACE: PATH TO `backup_scripts/` FOLDER]
ExecStart=/bin/bash image_backup.sh
