[Unit]
Description=Deploy Docker Compose for Flask-Website
After=network.target

[Service]
Group=docker
WorkingDirectory=[REPLACE: PATH TO DOCKER FOLDER IN GIT REPO]
ExecStart=/bin/bash deploy.sh

[Install]
WantedBy=multi-user.target
