[Unit]
Description=Timer for Flask-Website's static images backup

[Timer]
OnUnitActiveSec=1d
OnBootSec=1m
Persistent=true

[Install]
WantedBy=timers.target
