.blogpage-name {
    font-size: 3.5em;
}
.blogpage-subname {
    font-size: 1.5em;
}

.postlist-post-blogtitle {
    font-size: 0.9em;
}
.postlist-post-title {
    font-size: 2em;
}
.postlist-post-subtitle {
    font-size: 1.1em;
}
.postlist-post-timestamp {
    font-size: 1em;
}

.post-title {
    font-size: 2.5em;
}
.post-subtitle {
    font-size: 1.3em;
}
.post-timestamp {
    font-size: 1em;
}

.post-codebox {
    display: block;
    max-width: 100%;
    border: 2px solid black;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}
.post-h1 {
    color: var(--custom-green);
    font-size: 2.25em;
    border-bottom: 1px solid var(--custom-green);
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
}
.post-h2 {
    color: var(--custom-orange);
    font-size: 1.5em;
    border-bottom: 1px solid var(--custom-orange);
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    width: fit-content;
}
.post-img {
    display: block;
    max-width: 100%;
    border: 2px solid black;
    margin: 1rem auto 1rem auto;
}
.post-img:not([width]) {
    width: 100%;
}

.comment-section-headers {
    font-size: 2.25em;
}
.comment-author {
    font-size: 1.25em;
}
.comment-nest-limit-text {
    font-size: 0.95em;
}
input[value="Reply"][value="Delete"] {
    font-size: 0.95em;
    margin-bottom: 0em;
}

.img-comment-icon {
    width: 1em;
    height: 1em;
}
.img-verified-checkmark {
    width: 0.8em;
    height: 0.8em;
}
