.blogpage-name {
    font-size: 3.6rem;
}

.blogpage-subname {
    font-size: 1.6rem;
}

.comment-section-headers {
    font-size: 2.2rem;
}

.comment-author {
    font-size: 1.25rem;
}

input[value="Reply"][value="Delete"] {
    font-size: 0.95rem;
    margin-bottom: 0rem;
}

.post-title {
    font-size: 3rem;
}

.post-subtitle {
    font-size: 1.6rem;
}

.post-timestamp {
    font-size: 1.25rem;
}

.postlist-post-title {
    font-size: 2.25rem;
}

.postlist-post-subtitle {
    font-size: 1.2rem;
}

.postlist-post-timestamp {
    font-size: 1rem;
}
