{%- extends "blog/base.html" %}

{%- block metavars %}
<meta id="var-path-to-background-image" data-val="{{ url_for('blog.static', filename='blog/blogpage/' ~ blog_id ~ '/images/background/') }}">
{%- endblock %}

{%- block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('blog.static', filename='blog/blogpage/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('blog.static', filename='blog/blogpage/' ~ blog_id ~ '/css/style.css') }}">
{%- endblock %}

{%- block js %}
<script src="{{ url_for('blog.static', filename='blog/blogpage/' ~ blog_id ~ '/js/set_background_image.js') }}"></script>
<script src="{{ url_for('blog.static', filename='blog/blogpage/js/background.js') }}"></script>
<script src="{{ url_for('blog.static', filename='blog/blogpage/js/footnote_tooltips.js') }}"></script>
<script src="{{ url_for('blog.static', filename='blog/blogpage/js/post_display_customization.js') }}"></script>
{%- endblock %}
