{%- extends "blog/base.html" -%}
{%- import "bootstrap_wtf.html" as wtf -%}

{%- block meta_description -%}
{{ blogpage.name ~ ": " ~ blogpage.meta_description }}
{%- endblock -%}

{%- block js_inline -%}
{{ super() }}
/* Pieces for optionally piecing together `URLBackgroundImageOverride` */
const URL_BACKGROUND_IMG_OVERRIDE_BASE = "{{ url_for('blog.static', filename='blogpage/' ~ blogpage_id ~ '/images/', _external=True) }}";
var backgroundImgOverrideName = "";
{%- endblock -%}

{%- block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('blog.static', filename='blogpage/css/style.css', _external=True) }}" />
<link rel="stylesheet" href="{{ url_for('blog.static', filename='blogpage/' ~ blogpage_id ~ '/css/style.css', _external=True) }}" />
{%- endblock %}

{%- block js %}
{{ super() }}
<script src="{{ url_for('blog.static', filename='blogpage/js/goto_page_form.js', _external=True) }}" defer></script>
<script src="{{ url_for('blog.static', filename='blogpage/js/onclick_util.js', _external=True) }}" defer></script>
<script src="{{ url_for('blog.static', filename='blogpage/' ~ blogpage_id ~ '/js/override_background_img.js', _external=True) }}" defer></script>
<!-- Must be after `override_background_img.js` to allow overriding of `backgroundImgOverrideName` var -->
<script src="{{ url_for('blog.static', filename='blogpage/js/try_override_background_img.js', _external=True) }}" defer></script>
{%- endblock %}
