{%- import "bootstrap_wtf.html" as wtf -%}

{%- for comment in comments recursive %}
  {%- if comment.depth == loop.depth0 %}
    {%- if comment.depth != 0 %}
      <div class="flex-grow-1 ms-3">
    {%- endif %}

    {%- set descendants = comment.get_descendants(post) %}
    {%- if comment.author|trim == config["VERIFIED_AUTHOR"] %}
      <div class="comment card border-custom-orange-deep border-3px mt-{%- if comment.depth == 0 -%}3{%- else -%}1{%- endif -%}">
        <div class="card-body pb-2">
          <h3 class="comment-author d-flex align-items-center me-1">
            <span class="me-2">{{ comment.author }}</span><i class="bi bi-check-circle" title="Actually verified, unlike Twitter."></i>
          </h3>
    {%- else %}
      <div class="comment card{%- if current_user.is_authenticated and comment.unread %} border-custom-pink-light border-3px{%- endif %} mt-{%- if comment.depth == 0 -%}3{%- else -%}1{%- endif -%}">
        <div class="card-body pb-2">
          <h3 class="comment-author mb-2">{{ comment.author }}</h3>
    {%- endif %}
        <div class="comment-content gray mb-3">{{ comment.content|safe }}</div>
        <div class="mb-1"><small>{{ moment(comment.timestamp).format("lll") }} ({{ moment(comment.timestamp).fromNow() }})</small></div>
        
        {%- if comment.depth < 6 %}
          {{ wtf.quick_form(reply_comment_button, id="comment-reply-form-" ~ comment.id, class="comment-reply-form", btn_type="no-bg", btn_color="custom-orange-deep", bottom_margin=0) }}
          {{ wtf.quick_form(add_comment_form, id="comment-reply-add-form-" ~ comment.id, class="comment-add-form ajax-add-comment", bottom_margin=2, hidden=true) }}
        {%- else %}
          <p class="comment-nest-limit-text custom-orange-deep mb-0">It's gonna get ugly if you keep replying…</p>
        {%- endif %}

        {%- if current_user.is_authenticated %}
          {{ wtf.quick_form(delete_comment_button, id="comment-delete-form-" ~ comment.id, class="auth-true ajax-delete-comment comment-delete-form", btn_type="no-bg", btn_color="custom-pink-light", bottom_margin=0) }}
        {%- else %}
          {{ wtf.quick_form(delete_comment_button, id="comment-delete-form-" ~ comment.id, class="auth-true ajax-delete-comment comment-delete-form", btn_type="no-bg", btn_color="custom-pink-light", bottom_margin=0, hidden=true) }}
        {%- endif %}
      </div>
    </div>
    {%- if descendants %}
      <div>{{ loop(descendants) }}</div>
    {%- endif %}

    {%- if comment.depth != 0 %}
      </div>
    {%- endif %}
  {%- endif %}
{%- endfor %}
