{%- extends "blog/blogpage/base.html" %}

{%- block title -%}
{{ title }} (page {{ page }})
{{ super() }}
{%- endblock -%}

{%- block content %}
<div class="pt-2">
  <h1 class="blogpage-name">{{ title }}</h1>
  {%- if subtitle != "" %}
    <h2 class="blogpage-subname mt-2">{{ subtitle }}</h2>
  {%- endif %}

  {%- if current_user.is_authenticated %}
    <a id="auth-reload-create-blogpost-btn" class="auth-true btn-customblue btn btn-primary mt-2" href="{{ url_for('admin.create_blogpost', blog_id=blog_id) }}" role="button">Create post</a>
  {%- else %}
    <a id="auth-reload-create-blogpost-btn" class="auth-true btn-customblue btn btn-primary mt-2" href="{{ url_for('admin.create_blogpost', blog_id=blog_id) }}" role="button" hidden>Create post</a>
  {%- endif %}
</div>
<hr>

<div>
  {%- for post in posts %}
    <div>
      {%- if all_posts %}
        {%- set color = config["BLOG_ID_TO_COLOR_CLASS"][post.blog_id] %}
        <a class="link-hover underline-{{ color }}" href="{{ url_for('blog.' ~ post.blog_id ~ '.post', post_sanitized_title=post.sanitized_title) }}">
          <div class="d-flex align-items-top">
            <h1 class="postlist-post-title {{ color }} me-5 mb-1">{{ post.title }}</h1>
            <h1 class="postlist-post-blogtitle {{ color }} flex-shrink-0 ms-auto"> {{ config["BLOG_ID_TO_TITLE"][post.blog_id] }}</h1>
          </div>
          {%- if post.subtitle != "" %}
            <h2 class="postlist-post-subtitle {{ color }} mb-1">{{ post.subtitle }}</h2>
          {%- endif %}
      {%- else %}
        <a class="link-hover underline-customgreen" href="{{ url_for('blog.' ~ blog_id ~ '.post', post_sanitized_title=post.sanitized_title) }}">
          <h1 class="postlist-post-title customgreen mb-1">{{ post.title }}</h1>
          {%- if post.subtitle != "" %}
            <h2 class="postlist-post-subtitle customorange mb-1">{{ post.subtitle }}</h2>
          {%- endif %}
      {%- endif %}

          {%- if post.edited_timestamp is not none %}
            <h3 class="postlist-post-timestamp black pt-2">{{ moment(post.timestamp).format("l") }} | EDITED {{ moment(post.edited_timestamp).format("l") }}</h3>
          {%- else %}
            <h3 class="postlist-post-timestamp black pt-2">{{ moment(post.timestamp).format("l") }}</h3>
          {%- endif %}
        </a>
      </div>
    <hr>
  {%- endfor %}
</div>

{%- if total_pages > 0 %}
  <div class="text-center mx-auto mt-4 mb-4">
    <p class="gray mb-2">Page {{ page }} of {{ total_pages }}{%- if page > total_pages %} (??){%- endif %}</p>
    {%- if prev_page_url %}
      <a class="link-customblue" href="{{ prev_page_url }}">Page--</a>
      <span class="pipe ms-3 me-3"></span>
    {%- endif %}
  
    <form id="goto-page-form" class="d-inline-block">
      <div class="row align-items-center">
        <label class="gray col-auto col-form-label pe-2" for="page">Page = </label>
        <div class="col-auto mx-0 px-0">
          <input class="form-control" id="page-input" maxlength="5" name="page" type="text" size="1" value="">
        </div>
        <div class="col-auto ps-2">
          <input class="btn btn-link btn-customblue-link" id="submit" name="submit" type="submit" value="Go!">
        </div>
      </div>
    </form>
  
    {%- if next_page_url %}
      <span class="pipe ms-3 me-3"></span>
      <a class="link-customblue" href="{{ next_page_url }}">Page++</a>
    {%- endif %}
  </div>
{%- endif %}

{%- endblock %}
