{%- extends "blog/blogpage/base.html" %}
{%- import "bootstrap_wtf.html" as wtf %}

{%- block title -%}
{{ post.title }} - {{ blog_title }}
{%- endblock -%}

{%- block content %}
<div class="pt-2">
    <h1 class="post-title customgreen mb-2">{{ post.title }}</h1>
  {%- if post.subtitle != "" %}
    <h2 class="post-subtitle customorange mb-2">{{ post.subtitle }}</h2>
  {%- endif %}
  {%- if post.edited_timestamp is not none %}
    <h3 class="post-timestamp black mb-0">{{ moment(post.timestamp).format("l") }} | EDITED {{ moment(post.edited_timestamp).format("l") }}</h3>
  {%- else %}
    <h3 class="post-timestamp black">{{ moment(post.timestamp).format("l") }}</h3>
  {%- endif %}

  {%- if current_user.is_authenticated %}
    {{ wtf.quick_form(edit_blogpost_button, action=url_for("blog." ~ blog_id ~ ".edit_blogpost_button", post_id=post.id), id="auth-reload-edit-blogpost-btn", class="login-req-form auth-true mt-2", btn_type="info", bottom_margin=0) }}
  {%- else %}
    {{ wtf.quick_form(edit_blogpost_button, action=url_for("blog." ~ blog_id ~ ".edit_blogpost_button", post_id=post.id), id="auth-reload-edit-blogpost-btn", class="login-req-form auth-true mt-2", btn_type="info", bottom_margin=0, hidden=true) }}
  {%- endif %}
</div>
<hr>

<div id="post-content" class="mt-2">
  {{ post.content |safe }}
</div>

<hr class="doublehr">

<div>
  <h2 class="comment-section-headers">Leave a comment</h2>
  {{ wtf.quick_form(add_comment_form, class="comment-ajax", bottom_margin=2, autofocus_first=false) }}
</div>
<hr>

<div id="commentlist" class="pb-3">
  <h2 class="comment-section-headers mb-0">Comments</h2>
  <div class="d-flex flex-shrink-0">
    <div class="flex-shrink-0" style="width: 100%;">
      {%- for comment in comments recursive %}
        {%- if comment.depth == loop.depth0 %}
          {%- if comment.depth != 0 %}
            <div class="flex-grow-1 ms-3">
          {%- endif %}
          {%- set descendants = comment.get_descendants_list(post) %}
          <div class="comment card{%- if comment.author.lower() == config['VERIFIED_AUTHOR'].lower() %} border-customorange{%- endif %}{%- if comment.depth == 0 %} mt-3{%- else %} mt-1{%- endif %}">
            <div class="card-body pb-2">
              <h3 class="comment-author">{{ comment.author }}</h3>
              <div class="comment-content gray">{{ comment.content |safe }}</div>
              <div class="mb-1"><small>{{ moment(comment.timestamp).format("lll") }} ({{ moment(comment.timestamp).fromNow() }})</small></div>
              
              {%- if comment.depth < 5 %}
                {{ wtf.quick_form(reply_comment_button, id="comment-reply-btn-" ~ comment.id, class="comment-reply-btn", btn_type="link", btn_color="customorange", bottom_margin=0) }}
                {{ wtf.quick_form(add_comment_form, id="comment-reply-form-" ~ comment.id, class="comment-ajax", bottom_margin=2, hidden=true) }}
              {%- else %}
                <p class="comment-nest-limit-text customorange mb-0">It's gonna get ugly if you keep replying...</p>
              {%- endif %}

              {%- if current_user.is_authenticated %}
                {{ wtf.quick_form(delete_comment_button, id="comment-delete-btn-" ~ comment.id, class="login-req-form auth-true comment-ajax comment-delete-btn", btn_type="link", btn_color="red", bottom_margin=0) }}
              {%- else %}
                {{ wtf.quick_form(delete_comment_button, id="comment-delete-btn-" ~ comment.id, class="login-req-form auth-true comment-ajax comment-delete-btn", btn_type="link", btn_color="red", bottom_margin=0, hidden=true) }}
              {%- endif %}
            </div>
          </div>
          {%- if descendants %}
            <div class="comment-reply">{{ loop(descendants) }}</div>
          {%- endif %}

          {%- if comment.depth != 0 %}
            </div>
          {%- endif %}
        {%- endif %}
      {%- endfor %}
    </div>
  </div>
</div>
{%- endblock %}

{%- block js %}
{{ super() }}
<script src="{{ url_for('blog.static', filename='blog/blogpage/js/comments.js') }}"></script>
{%- endblock %}
