{%- extends "blog/blogpage/base.html" %}
{%- import "bootstrap_wtf.html" as wtf %}

{%- block title %}
{{ post.title }} - {{ blog_title }}
{%- endblock %}

{%- block content %}
<div class="post-header">
    <h1 class="post-title">{{ post.title }}</h1>
  {%- if post.subtitle is not none %}
    <h2 class="post-subtitle gray">{{ post.subtitle }}</h2>
  {%- endif %}
  {%- if post.edited_timestamp is not none %}
    <h3 class="post-timestamp black">{{ moment(post.timestamp).format('l') }} | EDITED {{ moment(post.edited_timestamp).format('l') }} </h3>
  {%- else %}
    <h3 class="post-timestamp black">{{ moment(post.timestamp).format('l') }}</h3>
  {%- endif %}

  {%- if current_user.is_authenticated %}
  {{ wtf.quick_form(edit_blogpost_button, action=url_for('blog.' ~ blog_id ~ '.edit_blogpost_button', post_id=post.id), class="admin-btn", btn_type="info", bottom_margin=0) }}
  {%- endif %}
</div>
<hr>

<div class="post-content">
  {{ post.content |safe }}
</div>

<hr class="doublehr">

<div>
  <h2 class="comment-section-headers">Leave a comment</h2>
  {{ wtf.quick_form(add_comment_form, class='comment-form', autofocus_first=false) }}
</div>
<hr>

<div id="commentlist">
  <h2 class="comment-section-headers">Comments</h2>
  <div class="d-flex flex-shrink-0">
    <div class="flex-shrink-0" style="width: 100%;">
      {%- for comment in comments recursive %}
        {%- if comment.depth == loop.depth0 %}
          {%- if comment.depth != 0 %}
            <div class="flex-grow-1 ms-3">
          {%- endif %}
          <div class="card{%- if comment.depth == 0 %} mb-3{%- else %} mb-1{%- endif %} comment">
            <div class="card-body comment-inner">
              <h3 class="comment-author">{{ comment.author }}</h3>
              <span class="comment-content gray">{{ comment.content |safe }}</span>
              <span class="comment-timestamp"><small>{{ moment(comment.timestamp).format('lll') }} ({{ moment(comment.timestamp).fromNow() }})</small></span>
              {%- if comment.depth < 8 %}
                {{ wtf.quick_form(reply_comment_button, id='reply-btn-' ~ comment.id, class='comment-reply-btn', btn_type='link', bottom_margin=2) }}
                {{ wtf.quick_form(add_comment_form, hidden=true, id='reply-form-' ~ comment.id, class='comment-form') }}
              {%- else %}
                <p class="link-color"><small>It's gonna get ugly if you keep replying...</small></p>
              {%- endif %}
              {%- set descendants = comment.get_descendants_list(post) %}
              {%- if descendants %}
                <div class="comment-reply">{{ loop(descendants) }}</div>
              {%- endif %}
            </div>
          </div>
          {%- if comment.depth != 0 %}
            </div>
          {%- endif %}
        {%- endif %}
      {%- endfor %}
    </div>
  </div>
</div>
{%- endblock %}

{%- block js %}
{{ super() }}
<script src="{{ url_for('blog.static', filename='blog/blogpage/js/comment_reply.js') }}"></script>
{%- endblock %}
