.hljs {
    background: white;
}

.hljs-addition,
.hljs-bullet,
.hljs-code,
.hljs-keyword,
.hljs-meta,
.hljs-type {
    color: var(--custom-pink-light);
}

.hljs-built_in,
.hljs-section,
.hljs-title {
    color: var(--custom-orange-xdeep);
}

.hljs-comment {
    color: var(--custom-green-deep-xdark);
}

.hljs-deletion,
.hljs-literal,
.hljs-meta .hljs-string,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag {
    color: var(--custom-blue-deep-dark);
}

.hljs-variable {
    color: unset;
}
