:root {
    --custom-blue: deepskyblue;
    --custom-blue-light: #47d1ff;
    --custom-blue-deep: #00a2ff;

    --custom-green: #8cff00;
    --custom-green-light: #b8ff61;
    --custom-green-xlight: #ccff8c;
    --custom-green-xxlight: #ecffd5;
    --custom-green-deep: #77d900;

    --custom-orange: #ffc107; /* BS warning color */
    --custom-orange-light: #ffce47;

    --custom-pink: #ff9cdd;
    --custom-pink-light: #ffb3e4;
    --custom-pink-xxlight: #fff5fc;

    --customcolor-code: navy;
    --customcolor-thm: navy;
    --customcolor-thm-border: #a1a1ff;
}

.narrow-container {
    overflow-x: scroll;
    max-width: clamp(33.33vw, 640px, 100vw);
    margin: auto;
}

.font-comic-neue {
    font-family: "Comic Neue", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.font-varela-round {
    font-family: "Varela Round", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.black {
    color: black !important;

}

.custom-green-deep {
    color: var(--custom-green-deep) !important;
}

.custom-orange {
    color: var(--custom-orange) !important;
}

.custom-pink {
    color: var(--custom-pink) !important;
}

.gray {
    color: gray !important;
}

.border-custom-orange {
    border-color: var(--custom-orange) !important;
}

.btn-custom-blue {
    --bs-btn-color: black !important;
    --bs-btn-bg: var(--custom-blue) !important;
    --bs-btn-border-color: var(--custom-blue) !important;
    --bs-btn-hover-color: black !important;
    --bs-btn-hover-bg: var(--custom-blue-light) !important;
    --bs-btn-hover-border-color: var(--custom-blue-light) !important;
    --bs-btn-focus-shadow-rgb: var(--custom-blue) !important;
    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: var(--custom-blue) !important;
    --bs-btn-active-border-color: var(--custom-blue) !important;
    --bs-btn-disabled-color: gray !important;
    --bs-btn-disabled-bg: var(--custom-blue-light) !important;
    --bs-btn-disabled-border-color: var(--custom-blue-light) !important;
}

.btn-custom-green-light {
    --bs-btn-color: black !important;
    --bs-btn-bg: var(--custom-green-light) !important;
    --bs-btn-border-color: var(--custom-green-light) !important;
    --bs-btn-hover-color: black !important;
    --bs-btn-hover-bg: var(--custom-green-xlight) !important;
    --bs-btn-hover-border-color: var(--custom-green-xlight) !important;
    --bs-btn-focus-shadow-rgb: var(--custom-green-light) !important;
    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: var(--custom-green-light) !important;
    --bs-btn-active-border-color: var(--custom-green-light) !important;
    --bs-btn-disabled-color: gray !important;
    --bs-btn-disabled-bg: var(--custom-green-xlight) !important;
    --bs-btn-disabled-border-color: var(--custom-green-xlight) !important;
}

.btn-custom-orange {
    --bs-btn-color: black !important;
    --bs-btn-bg: var(--custom-orange) !important;
    --bs-btn-border-color: var(--custom-orange) !important;
    --bs-btn-hover-color: black !important;
    --bs-btn-hover-bg: var(--custom-orange-light) !important;
    --bs-btn-hover-border-color: var(--custom-orange-light) !important;
    --bs-btn-focus-shadow-rgb: var(--custom-orange) !important;
    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: var(--custom-orange) !important;
    --bs-btn-active-border-color: var(--custom-orange) !important;
    --bs-btn-disabled-color: gray !important;
    --bs-btn-disabled-bg: var(--custom-orange-light) !important;
    --bs-btn-disabled-border-color: var(--custom-orange-light) !important;
}

.btn-custom-blue-link {
    --bs-btn-color: var(--custom-blue) !important;
    --bs-btn-hover-color: var(--custom-blue-light) !important;
    --bs-btn-active-color: var(--custom-blue) !important;
}

.btn-custom-orange-link {
    --bs-btn-color: var(--custom-orange) !important;
    --bs-btn-hover-color: var(--custom-orange-light) !important;
    --bs-btn-active-color: var(--custom-orange) !important;
}

.btn-custom-pink-link {
    --bs-btn-color: var(--custom-pink) !important;
    --bs-btn-hover-color: var(--custom-pink-light) !important;
    --bs-btn-active-color: var(--custom-pink) !important;
}

.underline-custom-blue {
    text-decoration-color: var(--custom-blue) !important;
}

.underline-custom-green-deep {
    text-decoration-color: var(--custom-green-deep) !important;
}

.underline-custom-orange {
    text-decoration-color: var(--custom-orange) !important;
}

.underline-custom-pink {
    text-decoration-color: var(--custom-pink) !important;
}

a { /* Links default to custom-blue, but can be overwritten with !important */
    color: var(--custom-blue);
    text-decoration-color: var(--custom-blue);
}

a:hover {
    color: var(--custom-blue-deep);
    text-decoration-color: var(--custom-blue-deep);
}

body {
    overflow-wrap: anywhere;
}

blockquote {
    color: gray;
    border-left: 3.5px solid #cccccc;
    margin-left: 0rem;
    padding-left: 0.75rem;
}

pre {
    font-size: 100%;
}

code {
    color: var(--customcolor-code) !important;
    font-size: 95% !important;
}

img {
    max-width: 100%;
}

table {
    font-size: clamp(70%, 2vw, 100%);
    width: max-content;
    min-width: 100%;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
}

td, th {
    border-width: 1px;
    padding: 0.5em;
}

.border-3px {
    border-width: 3px !important;
}

.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: var(--custom-pink) !important;
}

.btn-link {
    padding: 0;
}

.doublehr {
    height: 6px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.footnote {
    color: gray; 
    font-size: 0.9rem;
}

.footnotes-details {
    margin-bottom: 1rem;
}

.footnotes-details-summary {
    color: gray !important;
}

.link-style {
    color: var(--custom-blue);
    text-decoration: underline;
}

.md-details {
    border: 2px solid var(--custom-blue-light);
    border-radius: var(--bs-border-radius);
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.md-details-contents {
    color: gray !important;
    margin-top: 0.5rem;
}

.md-details-summary {
    color: var(--custom-blue) !important;
}

.mjx-center {
    font-size: clamp(85%, 3.25vw, 100%);
}

.no-underline {
    text-decoration: none;
}

.pipe {
    border-left: 2px solid black;
}

.required-label:after {
    content:" *";
    color: red;
}

.scroll-overflow-x {
    overflow-x: scroll;
    margin-bottom: 0.5rem;
}

.md-thm {
    color: var(--customcolor-thm) !important;
    border-left: 3.5px solid var(--customcolor-thm-border) !important;
}

.tooltip {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
}

.tooltip .tooltip-inner {
    color: #2b2b2b !important;
    background-color: var(--custom-pink-xxlight) !important;
    font-size: 0.85rem;
    max-width: 30rem !important;
}

.tooltip.show {
    opacity: 100%;
    border: 1px solid var(--custom-pink-light) !important;
    border-radius: var(--bs-border-radius);
}

.underline-on-hover {
    text-decoration: none;
}

.underline-on-hover:hover {
    text-decoration: underline;
}
