a {
    text-decoration-color: var(--custom-blue-deep);
    color: var(--custom-blue-deep);
}

a:hover {
    text-decoration-color: var(--custom-blue-deep-xdark);
    color: var(--custom-blue-deep-xdark);
}

blockquote {
    margin-left: 0rem;
    border-left: 3.5px solid #cccccc;
    padding-left: 0.75rem;
    color: gray;
}

body {
    text-decoration-thickness: 1px;
    overflow-wrap: anywhere;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

code {
    color: var(--color-code); /* overridable by Highlight.js */
    font-size: 97.5% !important;
}

.anchorjs-link {
    margin-left: 0.125em !important;
}

.dropdown-menu {
    --bs-dropdown-link-active-color: var(--bs-body-color);
    --bs-dropdown-link-active-bg: var(--custom-blue-light);
}

/* prevent dropdowns from overflowing if dropdown not collapsed
 * note that 0.75 is an arbitrary approximation, because trying to find it precisely seems nigh impossible */
nav .dropdown-menu {
    width: max-content;
    max-width: calc(0.75 * (var(--container-content-max-width) - 2 * var(--container-content-padding-x)));
}

/* SYNC: Bootstrap breakpoint in app/templates/base.html where navbar collapses */
@media (max-width: 768px) {
    nav .dropdown-menu {
        max-width: calc(var(--container-content-max-width) - 2 * var(--container-content-padding-x));
    }
}

pre {
    margin-bottom: 0;
    font-size: 100%;
}

pre code {
    color: var(--color-code);
}

table {
    margin-right: auto;
    margin-bottom: 0.5rem;
    margin-left: auto;
    width: max-content;
    min-width: 100%;
}

td,
th {
    border-width: 1px;
    padding: 0.5rem;
}

td > :last-child,
th > :last-child {
    margin-bottom: 0;
}

textarea {
    font-family: var(--bs-font-monospace);
}

.anchorjs-link {
    font-size: 0.9em;
    font-family: bootstrap-icons; /* for Bootstrap's private area unicode icon to show */
    vertical-align: bottom;
}

.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: var(--custom-pink-light) !important;
}

.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: var(--custom-pink-light) !important;
}

.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: var(--custom-pink-light) !important;
}

.bs-tooltip-left .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: var(--custom-pink-light) !important;
}

.btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23909090'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}

.code-block--outside {
    margin-bottom: 0.5rem;
    border: 1px solid black;
}

.container--content {
    margin: auto !important;
    padding-left: var(--container-content-padding-x) !important;
    padding-right: var(--container-content-padding-x) !important;
    max-width: var(--container-content-max-width) !important;
}

.dropdown-item {
    white-space: normal;
}

.flash {
    top: 1rem;
    z-index: 9999;
    border-width: 3px;
    border-style: solid;
    color: black;
}

.footnote {
    color: gray; 
    font-size: 0.9rem;
}

.footnotes__details {
    margin-bottom: 1rem;
}

.footnotes__details-summary {
    color: gray !important;
}

.icon-navbar-toggler {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='%23909090' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.label--required:after {
    color: red;
    content:" *";
}

.md-captioned-figure__caption {
    text-align: center;
    color: gray;
    font-size: 0.95rem;
}

.md-captioned-figure img {
    margin-bottom: 0.375rem;
}

.md-cited-blockquote {
    margin-bottom: 0;
}

.md-cited-blockquote > :last-child {
    margin-bottom: 0;
}

.md-dropdown {
    margin-bottom: 1rem;
    border: 2px solid var(--custom-blue-deep-light);
    border-radius: var(--bs-border-radius);
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.md-dropdown__contents {
    margin-top: 0.5rem;
    color: gray !important;
}

.md-dropdown__contents > :last-child {
    margin-bottom: 0;
}

.md-dropdown__summary {
    color: var(--custom-blue-deep) !important;
}

.md-dropdown__summary > p:first-of-type {
    display: inline;
}

.md-dropdown__summary > :last-child {
    margin-bottom: 0;
}

.md-image-inline {
    display: inline !important;
    margin: 0.25rem !important;
}

.md-textbox {
    width: 100%;
}

.md-thm {
    border-left: 3.5px solid var(--color-thm-border) !important;
    color: var(--color-thm) !important;
}

.nav-link {
    border-width: 0;
    background-color: transparent !important;
}

.toggle--password-visibility {
    display: flex;
    align-items: center;
}

.tooltip {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
}

.tooltip.show {
    opacity: 100%;
}

.tooltip .tooltip-inner {
    border: 1px solid var(--custom-pink) !important;
    border-radius: var(--bs-border-radius);
    background-color: var(--custom-pink-xxxlight) !important;
    max-width: 30rem !important;
    color: #2b2b2b !important;
}

#background-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* for (approx) centering due to larger font */
#navbar__home {
    margin-top: -0.1em;
}

#navbar__logo {
    width: 2rem;
    height: 2rem;
}

#switch--dark-mode { /* for (approx) centering due to low descender height and thus typefacing biasing upwards */
    margin-top: 0.3125em;
}
