/*********/
/* Fonts */
/*********/

@font-face {
    font-family: Quicksand;
    src: url(../fonts/quicksand_variable.ttf) format(TrueType);
}

/**********/
/* Colors */
/**********/

.black {
    color: black !important;
}
.blue {
    color: blue !important;
}
.gray {
    color: gray !important;
}
.green {
    color: green !important;
}
.navy {
    color: navy !important;
}
.orange {
    color: orange !important;
}
.purple {
    color: purple !important;
}
.red {
    color: red !important;
}
.yellow {
    color: yellow !important;
}

.custom-blue-deep {
    color: var(--custom-blue-deep) !important;
}
.custom-green-deep-dark {
    color: var(--custom-green-deep-dark) !important;
}
.custom-orange-deep {
    color: var(--custom-orange-deep) !important;
}
.custom-pink{
    color: var(--custom-pink) !important;
}
.custom-pink-light {
    color: var(--custom-pink-light) !important;
}

/*******************/
/* `border` Colors */
/*******************/

.border-custom-orange-deep {
    border-color: var(--custom-orange-deep) !important;
}

.border-custom-pink-light {
    border-color: var(--custom-pink-light) !important;
}

/****************/
/* `btn` Colors */
/****************/

.btn-custom-blue-deep {
    --bs-btn-color: black !important;
    --bs-btn-bg: var(--custom-blue-deep) !important;
    --bs-btn-border-color: var(--custom-blue-deep) !important;

    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: var(--custom-blue-deep) !important;
    --bs-btn-active-border-color: var(--custom-blue-deep) !important;

    --bs-btn-disabled-bg: var(--custom-blue-deep-light) !important;
    --bs-btn-disabled-border-color: var(--custom-blue-deep-light) !important;

    --bs-btn-hover-color: black !important;
    --bs-btn-hover-bg: var(--custom-blue-deep-light) !important;
    --bs-btn-hover-border-color: var(--custom-blue-deep-light) !important;
}

.btn-custom-orange-deep {
    --bs-btn-color: black !important;
    --bs-btn-bg: var(--custom-orange-deep) !important;
    --bs-btn-border-color: var(--custom-orange-deep) !important;

    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: var(--custom-orange-deep) !important;
    --bs-btn-active-border-color: var(--custom-orange-deep) !important;

    --bs-btn-disabled-bg: var(--custom-orange-deep-light) !important;
    --bs-btn-disabled-border-color: var(--custom-orange-deep-light) !important;

    --bs-btn-hover-color: black !important;
    --bs-btn-hover-bg: var(--custom-orange-deep-light) !important;
    --bs-btn-hover-border-color: var(--custom-orange-deep-light) !important;
}

/*********************/
/* `btn-link` Colors */
/*********************/

.btn-link-custom-orange-deep {
    --bs-btn-color: var(--custom-orange-deep) !important;
    --bs-btn-active-color: var(--custom-orange-deep) !important;
    --bs-btn-disabled-color: var(--custom-orange-deep-light) !important;
    --bs-btn-hover-color: var(--custom-orange-deep-light) !important;
}

.btn-link-custom-pink-light {
    --bs-btn-color: var(--custom-pink-light) !important;
    --bs-btn-active-color: var(--custom-pink-light) !important;
    --bs-btn-disabled-color: var(--custom-pink-xlight) !important;
    --bs-btn-hover-color: var(--custom-pink-xlight) !important;
}

/*********************/
/* `underline` Colors */
/*********************/

.underline-custom-blue-deep {
    text-decoration-color: var(--custom-blue-deep) !important;
}
.underline-custom-green-deep-dark {
    text-decoration-color: var(--custom-green-deep-dark) !important;
}
.underline-custom-orange-deep {
    text-decoration-color: var(--custom-orange-deep) !important;
}
.underline-custom-pink-light {
    text-decoration-color: var(--custom-pink-light) !important;
}
.underline-gray {
    text-decoration-color: gray !important;
}

/****************/
/* Size/Spacing */
/****************/

.border-3px {
    border-width: 3px !important;
}

.flex-basis-80 {
    flex-basis: 80% !important;
}

.mt-2half {
    margin-top: 0.75rem !important;
}
.ms-2half {
    margin-left: 0.75rem !important;
}

.min-height-full {
    min-height: 100vh !important;
}

.w-20 {
    width: 20% !important;
}
.w-2rem {
    width: 2rem !important;
}

/*********/
/* Other */
/*********/

.doublehr {
    height: 6px !important;
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}

.no-underline {
    text-decoration: none !important;
}

.pipe {
    height: 1.5em;
    border-left: 2px solid black !important;
}

.scroll-overflow-x {
    overflow-x: auto !important;
    overflow-y: hidden !important; /* for MathJax center math with \\[pt] extra spacings */
    margin-bottom: 0.5rem !important;
}

.underline-on-hover-only {
    text-decoration: none !important;
}
.underline-on-hover-only:hover {
    text-decoration: underline 1px !important;
}
