/**********/
/* Colors */
/**********/

.black {
    color: black !important;
}

.blue {
    color: blue !important;
}

.dimgray {
    color: dimgray !important;
}

.gray {
    color: gray !important;
}

.green {
    color: green !important;
}

.navy {
    color: navy !important;
}

.orange {
    color: orange !important;
}

.purple {
    color: purple !important;
}

.red {
    color: red !important;
}

.yellow {
    color: yellow !important;
}

.custom-blue-deep {
    color: var(--custom-blue-deep) !important;
}

.custom-green-deep-dark {
    color: var(--custom-green-deep-dark) !important;
}

.darken-on-hover:hover .custom-green-deep-dark {
    color: var(--custom-green-deep-xxdark) !important;
}

.custom-orange-deep {
    color: var(--custom-orange-deep) !important;
}

.custom-orange-deep-dark {
    color: var(--custom-orange-deep-dark) !important;
}

.darken-on-hover:hover .custom-orange-deep,
.darken-on-hover:hover .custom-orange-deep-dark {
    color: var(--custom-orange-xdeep) !important;
}

.custom-pink-deep-light {
    color: var(--custom-pink-deep-light) !important;
}

.custom-pink-deep-xlight {
    color: var(--custom-pink-deep-xlight) !important;
}

/********/
/* Font */
/********/

/* override all Bootstrap `fs` classes */
.fs-1 {
    font-size: calc(1.5rem + 4vw) !important;
}

@media (min-width: 800px) {
    .fs-1 {
        font-size: 3.5rem !important;
    }
}

.fs-2 {
    font-size: calc(1.4rem + 3.2vw) !important;
}

@media (min-width: 800px) {
    .fs-2 {
        font-size: 3rem !important;
    }
}

.fs-3 {
    font-size: calc(1.3rem + 2.4vw) !important;
}

@media (min-width: 800px) {
    .fs-3 {
        font-size: 2.5rem !important;
    }
}

.fs-4 {
    font-size: calc(1.25rem + 2vw) !important;
}

@media (min-width: 800px) {
    .fs-4 {
        font-size: 2.25rem !important;
    }
}

.fs-5 {
    font-size: calc(1.2rem + 1.6vw) !important;
}

@media (min-width: 800px) {
    .fs-5 {
        font-size: 2rem !important;
    }
}

.fs-6 {
    font-size: calc(1.15rem + 1.2vw) !important;
}

@media (min-width: 800px) {
    .fs-6 {
        font-size: 1.75rem !important;
    }
}

.fs-7 {
    font-size: calc(1.1rem + 0.8vw) !important;
}

@media (min-width: 800px) {
    .fs-7 {
        font-size: 1.5rem !important;
    }
}

.fs-8 {
    font-size: calc(1.05rem + 0.4vw) !important;
}

@media (min-width: 800px) {
    .fs-8 {
        font-size: 1.25rem !important;
    }
}

.fs-9 {
    font-size: calc(1.025rem + 0.2vw) !important;
}

@media (min-width: 800px) {
    .fs-9 {
        font-size: 1.125rem !important;
    }
}

.fs-10 {
    font-size: 0.875rem !important;
}

/*************/
/* Box Model */
/*************/

.me-0_75rem {
    margin-right: 0.75rem !important;
}

.p-mb-0 p {
    margin-bottom: 0 !important;
}

.pt-0_75rem {
    padding-top: 0.75rem !important;
}

.pt-2_5rem {
    padding-top: 2.5rem !important;
}

.pb-0_75rem {
    padding-bottom: 0.75rem !important;
}

.w-2rem {
    width: 2rem !important;
}

.w-2_5em {
    width: 2.5em !important;
}

.w-max-content {
    width: max-content !important;
}

.last-child-no-mb *:last-child {
    margin-bottom: 0 !important;
}

/********/
/* Flex */
/********/

.flex-equal-children > * {
    flex: 1 !important;
}

.flex-basis-75 {
    flex-basis: 75% !important;
}

/************/
/* `border` */
/************/

.border--1px {
    border-width: 1px !important;
}

.border--2px {
    border-width: 2px !important;
}

.border--3px {
    border-width: 3px !important;
}

.border--4px {
    border-width: 4px !important;
}

.border--6px {
    border-width: 6px !important;
}

.border-bottom--h1 {
    border-bottom: 3px solid var(--custom-green-deep-dark) !important;
    padding-bottom: 0.5rem !important;
}

.border-bottom--h2 {
    border-bottom: 2px solid var(--custom-orange-deep-dark) !important;
    padding-bottom: 0.25rem !important;
}

.border-bottom--underline {
    border-bottom: 1px solid black !important;
}

.border--colorful {
    border-color: transparent !important;
    border-image: conic-gradient(
        var(--custom-green-light) 60deg,
        var(--custom-blue-light) 90deg,
        var(--custom-pink-xlight) 120deg,
        var(--custom-pink-xlight) 240deg,
        var(--custom-orange-xlight) 270deg,
        var(--custom-green-light) 300deg
    ) 1 !important;
}

.border--custom-blue-light {
    border-color: var(--custom-blue-light) !important;
}

.border--custom-orange-deep {
    border-color: var(--custom-orange-deep) !important;
}

.border--custom-pink-deep-xlight {
    border-color: var(--custom-pink-deep-xlight) !important;
}

.border--custom-pink-deep-xxlight {
    border-color: var(--custom-pink-deep-xxlight) !important;
}

.border--lightgray {
    border-color: lightgray !important;
}

/*********/
/* `btn` */
/*********/

.btn:not(.btn-link, .nav-link) {
    border-width: 3px;
    border-style: solid;
}

.btn--custom-orange-light {
    color: black !important;
    background-color: var(--custom-orange-light) !important;
    border-color: var(--custom-orange-deep-dark) !important;
}

.btn--custom-orange-light:hover {
    background-color: var(--custom-orange) !important;
}

/**************/
/* `btn-link` */
/**************/

.btn-link--custom-orange-deep-dark {
    color: var(--custom-orange-deep-dark) !important;
}

.btn-link--custom-orange-deep-dark:hover {
    color: var(--custom-orange-xdeep) !important;
}

.btn-link--custom-pink-deep-xlight {
    color: var(--custom-pink-deep-xlight) !important;
}

.btn-link--custom-pink-deep-xlight:hover {
    color: var(--custom-pink-deep-light) !important;
}

/**********/
/* `link` */
/**********/

.link--gray {
    text-decoration-color: gray !important;
    color: gray !important;
}

.link--gray:hover {
    text-decoration-color: dimgray !important;
    color: dimgray !important;
}

.link--custom-blue-deep {
    text-decoration-color: var(--custom-blue-deep) !important;
    color: var(--custom-blue-deep) !important;
}

.link--custom-blue-deep:hover {
    text-decoration-color: var(--custom-blue-xdeep) !important;
    color: var(--custom-blue-xdeep) !important;
}

.link--custom-green-deep-dark {
    text-decoration-color: var(--custom-green-deep-dark) !important;
    color: var(--custom-green-deep-dark) !important;
}

.link--custom-green-deep-dark:hover {
    text-decoration-color: var(--custom-green-deep-xxdark) !important;
    color: var(--custom-green-deep-xxdark) !important;
}

.link--custom-green-deep-xdark {
    text-decoration-color: var(--custom-green-deep-xdark) !important;
    color: var(--custom-green-deep-xdark) !important;
}

.link--custom-green-deep-xdark:hover {
    text-decoration-color: var(--custom-green-deep-xxxdark) !important;
    color: var(--custom-green-deep-xxxdark) !important;
}

.link--custom-orange-xdeep {
    text-decoration-color: var(--custom-orange-xdeep) !important;
    color: var(--custom-orange-xdeep) !important;
}

.link--custom-orange-xdeep:hover {
    text-decoration-color: var(--custom-orange-xdeep-dark) !important;
    color: var(--custom-orange-xdeep-dark) !important;
}

.link--custom-pink-deep-xlight {
    text-decoration-color: var(--custom-pink-deep-xlight) !important;
    color: var(--custom-pink-deep-xlight) !important;
}

.link--custom-pink-deep-xlight:hover {
    text-decoration-color: var(--custom-pink-deep-light) !important;
    color: var(--custom-pink-deep-light) !important;
}

/***************/
/* `underline` */
/***************/

.underline--custom-green-deep-dark {
    text-decoration-color: var(--custom-green-deep-dark) !important;
}

.underline--custom-green-deep-dark.darken-on-hover:hover {
    text-decoration-color: var(--custom-green-deep-xxdark) !important;
}

/*********/
/* Other */
/*********/

a.discreet-link {
    text-decoration-style: dotted !important;
    text-decoration-color: unset;
    color: unset;
}

.discreet-tooltip {
    text-decoration-style: dotted !important;
    text-decoration-color: unset;
    color: unset;
}

.extend-off-page {
    white-space: nowrap;
    overflow: hidden;
}

.min-vh-100 {
    min-height: 100svh !important;
}

.pipe-1_5em {
    border-left: 1px solid !important;
    height: 1.5em;
}

.pipe-2em {
    border-left: 1px solid !important;
    height: 2em;
}

.scroll-overflow-x {
    margin-bottom: 0.5rem !important;
    overflow-x: auto !important;
    overflow-y: hidden !important; /* for MathJax equation environments with `\\[pt]` extra line spacing */
}

.underline-on-hover-only {
    text-decoration-line: none !important;
}

.underline-on-hover-only:hover {
    text-decoration-line: underline !important;
}
