:root {
    /* general */
    --container-content-max-width: min(672px, 100vw);

    /* custom colors */                     /* h  , s  , v   */
    --custom-blue: #00eaff;                 /* 185, 100, 100 */
    --custom-blue-light: #8cf5ff;           /* 185, 45 , 100 */
    --custom-blue-xxlight: #bffaff;         /* 185, 25 , 100 */
    --custom-blue-xxxlight: #f7feff;        /* 188, 3  , 100 */
    --custom-blue-deep: #00bfff;            /* 195, 100, 100 */
    --custom-blue-deep-light: #47d1ff;      /* 195, 72 , 100 */
    --custom-blue-deep-xlight: #b3ecff;     /* 195, 30 , 100 */
    --custom-blue-deep-dark: #00b0eb;       /* 195, 100, 92  */
    --custom-blue-xdeep: #0095ff;           /* 205, 100, 100 */

    --custom-green: #b7ff00;                /* 77 , 100, 100 */
    --custom-green-light: #c9ff40;          /* 77 , 75 , 100 */
    --custom-green-xxxlight: #fefffa;       /* 72 , 2  , 100 */
    --custom-green-deep: #8cff00;           /* 87 , 100, 100 */
    --custom-green-deep-light: #a3ff33;     /* 87 , 80 , 100 */
    --custom-green-deep-xlight: #c0ff73;    /* 87 , 55 , 100 */
    --custom-green-deep-xxlight: #ecffd5;   /* 87 , 16 , 100 */
    --custom-green-deep-dark: #76d600;      /* 87 , 100, 84  */
    --custom-green-deep-xdark: #6fc900;     /* 87 , 100, 79  */
    --custom-green-deep-xxdark: #68bd00;    /* 87 , 100, 74  */
    --custom-green-deep-xxxdark: #61b000;   /* 87 , 100, 69  */

    --custom-orange: #ffd500;               /* 50 , 100, 100 */
    --custom-orange-light: #ffdf40;         /* 50 , 75 , 100 */
    --custom-orange-xxxlight: #fffefa;      /* 48 , 2  , 100 */
    --custom-orange-shallow-light: #fff04d; /* 55 , 70 , 100 */
    --custom-orange-deep: #ffc800;          /* 47 , 100, 100 */
    --custom-orange-deep-light: #ffdb59;    /* 47 , 65 , 100 */
    --custom-orange-deep-dark: #f7c200;     /* 47 , 100, 97  */
    --custom-orange-xdeep: #ffa200;         /* 38 , 100, 100 */
    --custom-orange-xdeep-dark: #e69100;    /* 38 , 100, 90  */

    --custom-pink: #ff0080;                 /* 330, 100, 100 */
    --custom-pink-light: #ff8cc6;           /* 330, 45 , 100 */
    --custom-pink-xlight: #ffbfdf;          /* 330, 25 , 100 */
    --custom-pink-deep: #ff00ab;            /* 320, 100, 100 */
    --custom-pink-deep-light: #ff4dc4;      /* 320, 70 , 100 */
    --custom-pink-deep-xlight: #ff80d5;     /* 320, 50 , 100 */
    --custom-pink-deep-xxlight: #ffbfea;    /* 320, 25 , 100 */
    --custom-pink-deep-xxxlight: #ffe0f5;   /* 319, 12 , 100 */
    --custom-pink-deep-xxxxlight: #fffcfe;  /* 320, 1  , 100 */
}

/* for scoping issues on accessing `--bs-gutter-x` */
#container--content {
    --container-content-padding-x: calc(0.5 * var(--bs-gutter-x));
}
