:root {
    /* general */
    --container-content-max-width: min(672px, 100vw);

    /* custom colors */
    --custom-blue: #00eaff;                 /* hue 185 */
    --custom-blue-light: #8cf5ff;
    --custom-blue-xxlight: #bffaff;
    --custom-blue-xxxlight: #f7feff;
    --custom-blue-deep: #00bfff;            /* hue 195 */
    --custom-blue-deep-light: #47d1ff;
    --custom-blue-deep-xlight: #b3ecff;
    --custom-blue-deep-dark: #00b0eb;
    --custom-blue-deep-xdark: #00a3d9;

    --custom-green: #b7ff00;                /* hue 77 */
    --custom-green-light: #c9ff40;
    --custom-green-xxxlight: #fefffa;
    --custom-green-deep: #8cff00;           /* hue 87 */
    --custom-green-deep-light: #a3ff33;
    --custom-green-deep-xlight: #c0ff73;
    --custom-green-deep-xxlight: #ecffd5;
    --custom-green-deep-dark: #76d600;
    --custom-green-deep-xdark: #6fc900;
    --custom-green-deep-xxdark: #68bd00;
    --custom-green-deep-xxxdark: #61b000;

    --custom-orange: #ffd500;               /* hue 50 */
    --custom-orange-light: #ffdf40;
    --custom-orange-xxxlight: #fffdf7;
    --custom-orange-shallow-light: #fff04d; /* hue 55 */
    --custom-orange-deep: #ffc800;          /* hue 47 */
    --custom-orange-deep-light: #ffdb59;
    --custom-orange-deep-dark: #f7c200;
    --custom-orange-xdeep: #ffa200;         /* hue 37 */
    --custom-orange-xdeep-dark: #d98900;

    --custom-pink: #ff59d0;                 /* hue 317 */
    --custom-pink-light: #ff8cde;
    --custom-pink-xlight: #ffbdec;
    --custom-pink-xxlight: #ffdef6;
    --custom-pink-xxxlight: #fffafe;
    --custom-pink-dark: #f200ae;
}

/* for scoping issues on accessing `--bs-gutter-x` */
#container--content {
    --container-content-padding-x: calc(0.5 * var(--bs-gutter-x));
}
