{%- extends "base.html" -%}

{%- block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('blog.static', filename='css/style.css', _external=True) }}" />
{%- endblock %}

{%- block js_inline %}
{{ super() }}
const URL_GET_POSTS_WITH_UNREAD_COMMENTS = "{{ url_for('blog.get_posts_with_unread_comments', _external=True) }}";
{%- endblock %}

{%- block js_defer %}
{{ super() }}
<script src="{{ url_for('blog.static', filename='js/unread_comments_notif.js', _external=True) }}" defer></script>
{%- endblock %}

{%- block navbar_additions_right %}
<li class="nav-item dropdown auth-true"{%- if not current_user.is_authenticated %} hidden{%- endif %}>
  <button id="unread-comments-notif-btn" class="nav-link btn" type="button" data-bs-toggle="dropdown"><i id="unread-comments-notif-btn-icon" class="bi bi-bell"></i></button>
  <ul id="unread-comments-dropdown" class="dropdown-menu"></ul>
</li>
{%- endblock %}
