{%- extends "base.html" %}

{%- block title -%}
- AnonymousRand blogs
{%- endblock -%}

{%- block css %}
<link rel="stylesheet" href="{{ url_for('blog.static', filename='css/style.css', _external=True) }}" />
{%- endblock %}

{%- block js %}
<script nonce="{{ csp_nonce() }}">
    const URL_GET_POSTS_WITH_UNREAD_COMMENTS = "{{ url_for('blog.get_posts_with_unread_comments', _external=True) }}";
</script>
<script src="{{ url_for('blog.static', filename='js/unread_comments_dropdown.js', _external=True) }}" defer></script>
{%- if current_user.is_authenticated %} <!-- selective loading works since this script only runs something on `$(document).ready` -->
  <script src="{{ url_for('blog.static', filename='js/unread_comments_dropdown_on_ready.js', _external=True) }}" defer></script>
{%- endif %}
{%- endblock %}

{%- block navbar_additions_right %}
<li class="auth-true nav-item dropdown me-2"{%- if not current_user.is_authenticated %} hidden{%- endif %}>
  <button type="button" id="unread-comments-dropdown-btn" class="btn nav-link dropdown" data-bs-toggle="dropdown"><i id="unread-comments-dropdown-btn-icon" class="bi bi-bell"></i></button>
  <ul id="unread-comments-dropdown" class="dropdown-menu"></ul>
</li>
{%- endblock %}
