{% extends "blog/base.html" %}

{% block title %}
  Professor Google
{% endblock %}

{% block content %}
  <h1 class="mainpage-blog-name">Professor Google</h1>
  <h2 class="mainpage-blog-subname">THE BLOG WHERE I TEACH MYSELF</h2>
  <hr>

  {% for post in posts %}
    <div>
      <a href="{{ url_for('blog.post', post_sanitized_title=post.sanitized_title) }}">
        <h1 class="post-list-title">{{ post.title }}</h1>
        <h2 class="post-list-subtitle">{{ post.subtitle }}</h2>
        <h3 class="post-list-timestamp">{{ post.timestamp }}</h3>
      </a>
    </div>
    <hr>
  {% endfor%}
{% endblock %}
