{% extends "blog/base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
  <div class="post-headline">
    <h1 class="post-title">{% block title %} {{ post.title }} {% endblock %}</h1>
    <h2 class="post-subtitle">{{ post.subtitle }}</h2>
    {% if post.edited_timestamp is not none %}
      <h3 class="post-timestamp">{{ post.timestamp }} | EDITED {{ post.edited_timestamp }} </h3>
    {% else %}
      <h3 class="post-timestamp">{{ post.timestamp }}</h3>
    {% endif %}
  </div>

  <div class="post-body">
    {{ post.content |safe }}
  </div>

  <div class="post-commentform">
    {{ wtf.quick_form(form, id="post-commentform-body") }}
  </div>

  <div class="post-commentlist">
    {% for comment in comments %}
      <div class="post-commentlist-comment">
          <h2 class="post-commentlist-comment-author">{{ comment.author }}</h2>
          <p class="post-commentlist-comment-content">{{ comment.content }}</p>

          {% if comment.edited_timestamp is not none %}
            <p class="post-commentlist-comment-timestamp"><small>{{ comment.timestamp }} | EDITED {{ comment.edited_timestamp }}</small></p>
          {% else %}
            <p class="post-commentlist-comment-timestamp"><small>{{ comment.timestamp }}</small></p>
          {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
