{% extends "blog/base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
  <div class="post-headline">
    <h1 class="post-title">{% block title %} {{ post.title }} {% endblock %}</h1>
    <h2 class="post-subtitle">{{ post.subtitle }}</h2>
    {% if post.edited_timestamp is not none %}
      <h3 class="post-timestamp">{{ post.timestamp }} | EDITED {{ post.edited_timestamp }} </h3>
    {% else %}
      <h3 class="post-timestamp">{{ post.timestamp }}</h3>
    {% endif %}
  </div>

  <div class="post-body">
    {{ post.content |safe }}
  </div>

  <div class="post-comment-form">
    {{ wtf.quick_form(form, id="post-comment-form-body") }}
  </div>
{% endblock %}
