#non-navbar {
    font-family: "Comic Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.blogpage-name {
    color: var(--custom-pink);
}
.blogpage-subname {
    color: var(--custom-green);
}
