/* Font */
$font-family-base: "Quicksand", sans-serif;
$font-weight-light: 400;
$font-weight-normal: 500;
$headings-font-weight: 550;
$input-font-weight: $font-weight-normal;
$lead-font-weight: $font-weight-light;

@import "../bootstrap-5.3.3/scss/bootstrap.scss"
