input[value="Reply"][value="Delete"] {
    margin-bottom: 0rem;
    font-size: 0.95rem;
}

.blogpage__name {
    color: black;
}

.blogpage__subname {
    line-height: 1.4em;
    color: gray;
}

.comment__nest-limit-text {
    font-size: 0.95rem;
}

.copy-permanent-link-btn {
    margin-bottom: -0.125rem;
    font-size: 1em; /* undo Bootstrap */
}

.goto-page-form__page-input {
    padding-top: 1px;
    padding-bottom: 1px;
}

.go-to-comments-link {
    margin-bottom: -0.1875rem;
}

.md-captioned-figure__caption {
    text-align: center;
    color: dimgray;
    font-size: 0.95rem;
}

.md-captioned-figure img {
    margin-bottom: 0.375rem;
}

.md-captioned-figure p:has(> img) {
    margin-bottom: 0;
}

.md-cited-blockquote {
    margin-bottom: 0;
}

.md-cited-blockquote *:last-child {
    margin-bottom: 0.25rem;
}

.md-dropdown {
    margin-bottom: 1rem;
    border-width: 2px;
    border-style: solid;
    border-radius: var(--bs-border-radius);
    padding: 0.5rem 0.75rem;
    color: dimgray;
}

.md-dropdown__content {
    margin-top: 0.5rem;
}

.md-dropdown__summary > p:first-of-type {
    display: inline;
}

.md-dropdown--default {
    border-color: var(--custom-blue-deep-light);
}

.md-dropdown--default .md-dropdown__summary {
    color: var(--custom-blue-deep);
}

.md-dropdown--exer,
.md-dropdown--pf {
    border-color: lightgray;
}

.md-image-inline {
    display: inline !important;
    margin: 0.25rem !important;
}

.md-textbox {
    width: 100%;
    border-collapse: separate;
    border-radius: var(--bs-border-radius);
    border-spacing: 0;
}

.md-textbox--default td {
    padding: 0.5rem 0.75rem;
}

.md-textbox--coro,
.md-textbox--defn,
.md-textbox--prop,
.md-textbox--thm
{
    border-width: 4px;
    border-style: solid;
}

.md-textbox--coro td,
.md-textbox--defn td,
.md-textbox--prop td,
.md-textbox--thm td
{
    padding: 0.75rem 1rem;
}

.md-textbox--coro,
.md-textbox--prop
{
    border-color: lightgray;
}

.md-textbox--defn {
    border-color: var(--custom-green-light);
}

.md-textbox--thm {
    border-color: var(--custom-orange-deep-light);
}

.post__h1 {
    color: var(--custom-green-deep-dark);
}

.post__h2 {
    color: var(--custom-orange-deep-dark);
}

.post__img {
    display: block;
    margin: 1rem auto 1rem auto;
    border: 1px solid black;
    max-width: 100%;
}

.post__img:not([width]) {
    width: 100%;
}

.post__timestamp {
    margin-right: 0.625rem;
}

.post__toc {
    z-index: 999;
    border-color: gray;
    padding: 1rem 1rem 0rem 1rem;
    max-height: max(33.3333svh, 15rem);
}

@media(min-width: 1400px) {
    .post__toc {
        position: sticky;
        float: left;
        border: none;
        padding: 0;
        /* TOC takes up max 75% of the screen height, and is vertically centered (as if it took 75% of the screen
         * height) when sticky */
        top: calc(12.5svh + var(--toc-heading-outer-height));
        max-height: calc(75svh - var(--toc-heading-outer-height));
        /* TOC takes up 2/3 of the margin on the left of the screen (up to the size it would be on a 1536px screen),
         * and is perfectly centered within the left margin (with 1/6 of the margin on each side of the TOC) */
        /* I'm sure there are better ways to do this but im a frontend noob so math it is */
        margin-left: calc(-5 * (min(100vw, 1536px) - var(--container-content-max-width)) / 12);
        width: calc((min(100vw, 1536px) - var(--container-content-max-width)) / 3);
    }

    .toc__heading {
        position: absolute;
        top: -1.5em;
    }
}

.post__toc ul:last-child {
    margin-bottom: 0;
}

.post-list__blogtitle {
    font-size: 0.85rem;
}

.post-list__comment-icon {
    font-size: 14px;
    margin-bottom: -0.25rem;
}

.toc__body {
    font-size: 0.95rem;
}

.toc__body > li:last-child {
    margin-bottom: 0.5rem;
}

.toc__body ol,
.toc__body ul {
    padding-left: 1.5rem;
}

.toc__heading {
    background-color: var(--bs-body-bg); /* to match card body */
}
