input[value="Reply"][value="Delete"] {
    margin-bottom: 0rem;
    font-size: 0.95rem;
}

.comment__nest-limit-text {
    font-size: 0.95rem;
}

.btn--copy-permanent-link {
    margin-bottom: -0.125rem;
}

.goto-page-form__input--page {
    padding-top: 1px;
    padding-bottom: 1px;
}

.link--go-to-comments {
    margin-bottom: -0.1875rem;
}

.post__img {
    display: block;
    margin: 1rem auto 1rem auto;
    border: 1px solid black;
    max-width: 100%;
}

.post__img:not([width]) {
    width: 100%;
}

.post__subtitle p {
    margin-bottom: 0rem;
}

.post__timestamp {
    margin-right: 0.625rem;
}

.post__title p {
    margin-bottom: 0rem;
}

.post-list__blogtitle {
    font-size: 0.85rem;
}

.post-list__icon--comment {
    font-size: 14px;
    margin-bottom: -0.25rem;
}
