[Unit]
Description=Periodic second backup of Flask-Website's database

[Service]
Type=oneshot
Group=docker
WorkingDirectory=[REPLACE: PATH TO GIT REPO BASE]
ExecStart=/bin/bash backup-scripts/db_backup.sh 2
