<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>bot jail</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bot_jail.css', _external=True) }}" />
  </head>

  <body>
    <div class="container text-end">
      <h1>There is an imposter among us.</h1>
      <img class="img--amogus center-block" src="{{ url_for('static', filename='images/amogus.webp', _external=True) }}" />
    </div>
  </body>
</html>
