{% extends "base.html" %}

{% block title %}
  Professor Google
{% endblock %}

{% block blog_name %}
  <h1 class="mainpage-blog-name">Professor Google</h1>
{% endblock %}

{% block blog_subname %}
  <h2 class="mainpage-blog-subname">THE BLOG WHERE I TEACH MYSELF</h2>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div>
      <a href="{{ url_for('post', post_title_for_url=post.title_for_url) }}">
        <h1 class="post-list-title">{{ post.title }}</h1>
        <h2 class="post-list-subtitle">{{ post.subtitle }}</h2>
        <h3 class="post-list-timestamp">{{ post.timestamp }}</h3>
      </a>
    </div>
    <hr>
  {% endfor%}
{% endblock %}
